<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.inta.intaddblog.mapper.TagMapper">

    <resultMap id="Tag" type="cn.inta.intaddblog.po.Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <sql id="allColumn">
        id, name, number, updateTime
    </sql>

    <insert id="save">
        INSERT INTO intaddblog.tag (id, name, number, updateTime)
        VALUES (#{id}, #{name}, #{number}, #{updateTime})
    </insert>

    <update id="update" parameterType="cn.inta.intaddblog.po.Tag">
        UPDATE tag SET name = #{name}, number = #{number}, updateTime = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="integer">
        DELETE FROM tag WHERE id = #{id}
    </delete>

    <select id="findByName" resultMap="Tag">
        SELECT
        <include refid="allColumn"/>
        FROM tag t WHERE t.name = #{name}
    </select>


    <select id="findAll" resultMap="Tag">
        SELECT
        <include refid="allColumn"/>
        FROM tag ORDER BY updateTime DESC
    </select>

    <select id="findById" resultMap="Tag">
        SELECT
        <include refid="allColumn"/>
        FROM tag t WHERE t.id = #{id}
    </select>

    <select id="findByBlogId" resultMap="Tag">
        SELECT
        <include refid="allColumn"/>
        FROM tag t WHERE t.id
        IN (SELECT tag_id FROM blog_tag WHERE blog_id = #{id})
    </select>

    <select id="findTop" resultMap="Tag">
        SELECT
        <include refid="allColumn"/>
        FROM tag t ORDER BY updateTime DESC
        LIMIT #{num}
    </select>

    <select id="getNumById" resultType="java.lang.Integer">
        SELECT number FROM tag WHERE id = #{id}
    </select>


</mapper>