<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.inta.intaddblog.mapper.TypeMapper">

    <!-- 表查询字段 -->
    <sql id="allColumns">
        t.id, t.name, t.introduction, t.number, t.updateTime
    </sql>

    <select id="findByName" resultType="cn.inta.intaddblog.po.Type">
        SELECT
        <include refid="allColumns"/>
        FROM type t WHERE t.name LIKE CONCAT('%', #{name}, '%')
    </select>
</mapper>